.gallery {
    @include flex(flex-start, center);
    flex-direction: column;
    gap: 20px;
}

.cards {
    @include flex(space-evenly, center);
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 15px;
}