$wrap: 1920px;
$container: 80.3%;
$marg: 0 auto;
$white: #FFF;
$black: #1C1C1C;
$blue: #6562e8;
$blue-shadow: #4646d3;
$dark-blue: #2f2f4c;
$grey: #e8eefc;
$grey-shadow: #dae1fa;
$red: red;
$green: #239b8c;

// $title-font: 'Oranienbaum', serif;
// $main-font: 'Noto Sans', sans-serif;
$text: 18px;

// $line-height: 1.3;

body {
  color: $dark-blue;
  font-size: $text;
}

h1 {
  color: $dark-blue;
}

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

p {
  color: palevioletred;
  text-decoration: overline;
  display: none;
}

.wrapper {
    position: relative;
    max-width: $wrap;
    margin: $marg;
    // outline: 1px solid red;
  }

.container {
  position: relative;
  padding: 25px 15px;
  max-width: $container;
  margin: $marg;

  // outline: 1px solid purple;
  // background-image: url("../assets/back.svg");
  // background-repeat: repeat;
}

.user-container {
  @include flex(center, center);
  height: 80vh;
}