.history {
    @include flex(flex-start, center);
    flex-direction: column;
    gap: 20px;

    // width: 100%;

}

.history-table {
    width: 80%;
}

.history-row {
    @include flex(space-between, center);

    height: 2em;
    border-bottom: 1px dashed $green;

    & > div {
        @include flex(space-between, center);
        gap: 20px;
    }

     &  a {
        color: $green;
      }

    & span {
        color: $dark-blue;
        font-size: 16px;
    }

    &:hover {
        background: $grey; 
    }
}

.history-button {
    width: 1em;
    height: 1em;
    padding-right: 2em;
    border: none;
    background: none;
    color: $green;
    

    &:hover {
        transform: scale(1.2);
    }
}
